{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Schdeules List'}) }}

    {{ include('partials/head-css.html.twig') }}
    <!-- glightbox css -->
    <link rel="stylesheet" href="{{ asset('assets/libs/glightbox/css/glightbox.min.css') }}">

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {{ include('partials/page-title.html.twig', {pagetitle: 'Schedules', title: 'Goups'}) }}
                <div class="row gallery-wrapper">
                    {% for group in groups %}
                        <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing development" data-category="designing development">
                            <div class="gallery-box card">
                                <div class="gallery-container">
                                    <a href="{{ path("app_group_schedule", {'id': group[0].getId}) }}" style="background: #132649">
                                        <div class="p-3 d-flex justify-content-center pb-5 pt-5">
                                            <i style="font-weight: bolder; font-size: 4rem; color: #fec112" class="fa-solid fa-{{ group[0].getGroupName| lower}} gallery-img"></i>
                                        </div>
                                        <div class="gallery-overlay">
                                            <h5 class="overlay-caption">Number of students : {{ group.studentsCount }}</h5>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- end col -->
                    {% endfor %}


                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->



{{ include('partials/customizer.html.twig') }}

{{ include('partials/vendor-scripts.html.twig') }}

<!-- App js -->
<script src="{{ absolute_url(asset("assets/js/app.js")) }}"></script>
<!-- glightbox js -->
<script src="{{ asset("assets/libs/glightbox/js/glightbox.min.js") }}"></script>

<!-- isotope-layout -->
<script src="{{ asset("assets/libs/isotope-layout/isotope.pkgd.min.js") }}"></script>

<script src="{{ asset("assets/js/pages/gallery.init.js") }}"></script>
<script src="https://kit.fontawesome.com/000a7e5c15.js" crossorigin="anonymous"></script>

</body>

</html>