{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Students List'}) }}
    <!-- Sweet Alert css-->
    <link href="{{ asset("assets/libs/sweetalert2/sweetalert2.min.css") }}" rel="stylesheet" type="text/css" />
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">


    {{ include('partials/head-css.html.twig') }}

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {{ include('partials/page-title.html.twig', {pagetitle: 'Management', title: 'Students'}) }}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-3">Info</h5>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                        <tr>
                                            <th class="ps-0" scope="row">Academic Year :</th>
                                            <td class="text-muted">First Year</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Branch :</th>
                                            <td class="text-muted">Genie informatics</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Group :</th>
                                            <td class="text-muted">A</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Number students</th>
                                            <td class="text-muted">36</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->

                    </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h5 class="card-title mb-0">students List</h5>
                                </div>
                                <div class="card-body">
                                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 10px;">
                                                <div class="form-check">
                                                    <input class="form-check-input fs-15" type="checkbox" id="checkAll" value="option">
                                                </div>
                                            </th>
                                            <th data-ordering="false">ID</th>
                                            <th data-ordering="false">FullName</th>
                                            <th data-ordering="false">Email</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
{#                                        {% for student in students %}#}
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option2">
        </div>
    </th>
    <td>2</td>
    <td>Fatima Zahra</td>
    <td>fatima.zahra@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option3">
        </div>
    </th>
    <td>3</td>
    <td>Mohamed Salah</td>
    <td>mohamed.salah@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option4">
        </div>
    </th>
    <td>4</td>
    <td>Layla Hassan</td>
    <td>layla.hassan@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option5">
        </div>
    </th>
    <td>5</td>
    <td>Omar Ahmed</td>
    <td>omar.ahmed@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option6">
        </div>
    </th>
    <td>6</td>
    <td>Yasmine Karim</td>
    <td>yasmine.karim@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option7">
        </div>
    </th>
    <td>7</td>
    <td>Hassan Ali</td>
    <td>hassan.ali@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option8">
        </div>
    </th>
    <td>8</td>
    <td>Sara Ibrahim</td>
    <td>sara.ibrahim@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option9">
        </div>
    </th>
    <td>9</td>
    <td>Khaled Mohamed</td>
    <td>khaled.mohamed@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option10">
        </div>
    </th>
    <td>10</td>
    <td>Nour El-Din</td>
    <td>nour.eldin@example.com</td>
    <td></td>
</tr>
<tr>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option11">
        </div>
    </th>
    <td>11</td>
    <td>Aisha Omar</td>
    <td>aisha.omar@example.com</td>
    <td></td>
</tr>
{#                                        {% endfor %}#}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div><!--end col-->

                    </div><!--end row-->





            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->



{{ include('partials/customizer.html.twig') }}

{{ include('partials/vendor-scripts.html.twig') }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{{ asset("assets/js/pages/datatables.init.js") }}"></script>
<!-- Sweet Alerts js -->
<script src="{{ asset("assets/libs/sweetalert2/sweetalert2.min.js") }}"></script>

<!-- Sweet alert init js-->
<script src="{{ asset("assets/js/pages/sweetalerts.init.js") }}"></script>
<!-- App js -->
<script src="{{ asset("assets/js/app.js") }}"></script>
<!-- glightbox js -->
<script src="{{ asset("assets/libs/glightbox/js/glightbox.min.js") }}"></script>

<!-- isotope-layout -->
<script src="{{ asset("assets/libs/isotope-layout/isotope.pkgd.min.js") }}"></script>

<script src="{{ asset("assets/js/pages/gallery.init.js") }}"></script>
<script src="https://kit.fontawesome.com/000a7e5c15.js" crossorigin="anonymous"></script>

</body>

</html>