<!DOCTYPE html>

<title>Admin index</title>

{% block body %}
    <h1>Admin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Phone_number</th>
                <th>Profile_image</th>
                <th>Gender</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
                <td>{{ admin.password }}</td>
                <td>{{ admin.firstName }}</td>
                <td>{{ admin.lastName }}</td>
                <td>{{ admin.phoneNumber }}</td>
                <td>{{ admin.profileImage }}</td>
                <td>{{ admin.gender }}</td>
                <td>{{ admin.email }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': admin.id}) }}">show</a>
                    <a href="{{ path('app_admin_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_new') }}">Create new</a>
{% endblock %}
